header {
  padding: 2% 10.5%;
  overflow: hidden;
}
@media screen and (max-width: 414px) {
  header {
    padding: 2.7% 0;
  }
}
@media screen and (max-width: 414px) {
  header img {
    margin: 4% 0 0 5%;
  }
}
header a {
  float: right;
}
@media screen and (max-width: 414px) {
  header a {
    width: 23.6%;
    padding: 1.8% 0;
    font-size: 18px;
    text-align: center;
    margin: 0 5% 0 0;
  }
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 9998;
  background: #fff;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  padding: 1.1% 5.8%;
}
@media screen and (max-width: 1400px) {
  .sticky {
    width: 101%;
    padding: 2% 10.5%;
  }
}
@media screen and (max-width: 414px) {
  .sticky {
    padding: 2.7% 0;
  }
}
