header {
  @media screen and (max-width:414px) {
    padding: 2.7% 0;
  }
  // display: flex;
  padding: 2% 10.5%;
  overflow: hidden;

  img {
    @media screen and (max-width: 414px) {
      margin: 4% 0 0 5%;
    }
  }

  a {
    @media screen and (max-width: 414px) {
      width: 23.6%;
      padding: 1.8% 0;
      font-size: 18px;
      text-align: center;
      margin: 0 5% 0 0;
    }
    float: right;
  }
}

.sticky {
  @media screen and (max-width: 1400px) {
    width: 101%;
    padding: 2% 10.5%;
  }
  @media screen and (max-width: 414px) {
    padding: 2.7% 0;
  }
  position: fixed;
  top: 0;
  z-index: 9998;
  background: #fff;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  padding: 1.1% 5.8%;
}