.steps {
  text-align: center;
  padding: 7.8% 0 5%;
  margin: 7% 0 0;
  background: #E9F9FD;
}
.steps h2 {
  text-align: center;
  font-size: 47px;
  margin: 0;
  color: #0E395D;
}
@media screen and (max-width: 1400px) {
  .steps h2 {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 414px) {
  .steps h2 {
    font-size: 36px;
    line-height: 41px;
  }
}
.steps img {
  display: block;
  width: 3.8%;
}
@media screen and (max-width: 414px) {
  .steps img {
    width: 14%;
    margin: 6% auto !important;
  }
}
.steps img.first {
  margin: 6% auto 1%;
}
.steps img.second {
  margin: 0.9% auto 0.5%;
}
.steps img.third {
  margin: 1.1% auto 1%;
}
.steps img.fourth {
  margin: 1.4% auto 1%;
}
.steps img.fifth {
  margin: 1.1% auto 1%;
}
.steps p {
  font-size: 30px;
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .steps p {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 414px) {
  .steps p {
    font-size: 22px;
    line-height: 28px;
  }
}
.steps .btn {
  display: inline-block;
  margin: 5% 0 0;
}
@media screen and (max-width: 414px) {
  .steps .btn {
    margin: 10% 0;
  }
}
