img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

  * {
    font-family: Source Sans Pro;
    color: #333333;
  }

  header {
    @media screen and (max-width:414px) {
      padding: 2.7% 0;
      text-align: center;
    }
    // display: flex;
    padding: 2% 10.5%;
    overflow: hidden;

    img {
      @media screen and (max-width: 414px) {
        margin: 4% 0 0;
      }
    }

    a {
      @media screen and (max-width: 414px) {
        width: 23.6%;
        padding: 1.8% 0;
        font-size: 18px;
        text-align: center;
        margin: 0 5% 0 0;
      }
      float: right;
    }
  }

  footer {
    @media screen and (max-width: 1400px) {
      font-size: 1.5vw;
    }
    @media screen and (max-width:414px) {
      font-size: 16px;
      line-height: 22px;
      padding: 16% 0;
    }
    background: #0E395D;
    color: #fff;
    text-align: center;
    padding: 5% 0;
    font-size: 20px;
    position: relative;
    top: -5px;
  }

  div {
    &.top {
      position: relative;

      img {
        &[src="img/thank-you-m.png"] {
          @media screen and (max-width:414px) {
            width: 100%;
          }
        }
      }

      .content {
        @media screen and (max-width: 414px) {
          left: 6%;
          top: 5%;
        }
        position: absolute;
        left: 10.5%;
        top: 10%;

        h2 {
          @media screen and (max-width: 1400px) {
            font-size: 5.1vw;
            line-height: 6vw;
          }
          @media screen and (max-width: 414px) {
            font-size: 36px;
            line-height: 41px;
          }
          color: #fff;
          font-size: 72px;
          margin: 0;
          line-height: 84px;
        }

        p {
          @media screen and (max-width:1400px) {
            font-size: 2.2vw;
            line-height: 3vw;
          }
          @media screen and (max-width: 414px) {
            font-size: 24px;
            line-height: 33px;
            margin: 5% 0 0;
          }
          color: #fff;
          font-size: 30px;
          line-height: 42px;
          margin: 2.5% 0 0;
        }

        img {
          margin: 3.8% 0 0;
        }

        a {
          @media screen and (max-width: 414px) {
            margin: 59% 0 0;
          }
          display: inline-block;
          margin: 7% 0 0;
          padding: 1.3% 2.8%;
        }
      }
    }
  }
}

.desktop {
  @media screen and (max-width:414px) {
    display: none;
  }
}

.mobile {
  @media screen and (max-width: 414px) {
    display: inline-block;
  }
  display: none;
}