* {
  font-family: Source Sans Pro;
  color: #333333;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper .loading {
  padding: 25% 0;
  text-align: center;
}
@media screen and (max-width: 414px) {
  .wrapper .loading {
    padding: 42% 4%;
  }
}
.wrapper .loading img {
  width: 5.8%;
}
@media screen and (max-width: 414px) {
  .wrapper .loading img {
    width: 14.4%;
  }
}
.wrapper .loading h2 {
  margin: 0;
  font-size: 72px;
  line-height: 82.8px;
  color: #0E395D;
}
@media screen and (max-width: 1400px) {
  .wrapper .loading h2 {
    font-size: 5.1vw;
    line-height: 6vw;
  }
}
@media screen and (max-width: 414px) {
  .wrapper .loading h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
.wrapper .loading p {
  font-size: 30px;
  line-height: 42px;
}
@media screen and (max-width: 1400px) {
  .wrapper .loading p {
    font-size: 2.1vw;
    line-height: 3vw;
  }
}
@media screen and (max-width: 414px) {
  .wrapper .loading p {
    font-size: 16px;
    line-height: 24px;
  }
}
.wrapper header {
  padding: 2% 10.5%;
  overflow: hidden;
}
@media screen and (max-width: 414px) {
  .wrapper header {
    padding: 2.7% 0;
  }
}
@media screen and (max-width: 414px) {
  .wrapper header img {
    margin: 4% 0 0 5%;
  }
}
.wrapper header a {
  float: right;
}
@media screen and (max-width: 414px) {
  .wrapper header a {
    width: 23.6%;
    padding: 1.8% 0;
    font-size: 18px;
    text-align: center;
    margin: 0 5% 0 0;
  }
}
.wrapper .sticky {
  position: fixed;
  top: 0;
  z-index: 9998;
  background: #fff;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  padding: 1.1% 5.8%;
}
@media screen and (max-width: 1400px) {
  .wrapper .sticky {
    width: 101%;
    padding: 2% 10.5%;
  }
}
@media screen and (max-width: 414px) {
  .wrapper .sticky {
    padding: 2.7% 0;
  }
}
.wrapper footer {
  background: #0E395D;
  color: #fff;
  text-align: center;
  padding: 5% 0;
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .wrapper footer {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 414px) {
  .wrapper footer {
    font-size: 16px;
    line-height: 22px;
    padding: 16% 0;
  }
}
.btn {
  text-decoration: none;
  background: linear-gradient(#38B650, #25A13D);
  border-radius: 6px;
  padding: 0.8% 1.7%;
  color: #fff;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .btn {
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 414px) {
  .btn {
    width: 41.3%;
    padding: 3.5% 0 !important;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 414px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media screen and (max-width: 414px) {
  .mobile {
    display: inline-block;
  }
}
