.the-form {
  text-align: center;
  padding: 3% 10% 5%;
}
@media screen and (max-width: 414px) {
  .the-form {
    padding: 5% 6%;
  }
}
.the-form h2 {
  text-align: center;
  font-size: 47px;
  margin: 0;
  color: #0E395D;
}
@media screen and (max-width: 1400px) {
  .the-form h2 {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form h2 {
    font-size: 30px;
    line-height: 39px;
  }
}
.the-form p {
  margin: 2% 0 4%;
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .the-form p {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form p {
    font-size: 16px;
    line-height: 22px;
  }
}
.the-form form .top-part {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7%;
}
@media screen and (max-width: 414px) {
  .the-form form .top-part {
    padding: 0;
  }
}
.the-form form .top-part h3 {
  margin: 1% 0 0 4%;
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .the-form form .top-part h3 {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .top-part h3 {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin: 0;
  }
}
.the-form form .top-part div {
  flex-basis: 50%;
  margin: 0 0 5.5%;
}
@media screen and (max-width: 414px) {
  .the-form form .top-part div {
    flex-basis: 100%;
  }
}
.the-form form .top-part div.sky-card,
.the-form form .top-part div.ssn {
  flex-basis: 100%;
}
.the-form form .top-part div.sky-card label,
.the-form form .top-part div.ssn label {
  padding: 0 0 0 4%;
  margin: 0 0 1%;
}
.the-form form .top-part div.sky-card input,
.the-form form .top-part div.ssn input {
  padding: 1.5% 1%;
  margin: 0 0 0 4%;
  width: 96%;
  box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
  .the-form form .top-part div.sky-card input,
  .the-form form .top-part div.ssn input {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .top-part div.sky-card input,
  .the-form form .top-part div.ssn input {
    width: 92%;
    padding: 3.3%;
    margin: 0;
    font-size: 14px;
    box-sizing: content-box;
  }
}
.the-form form .top-part div label {
  display: block;
  text-align: left;
  font-size: 20px;
  padding: 0 0 0 8%;
  margin: 0 0 3%;
}
@media screen and (max-width: 1400px) {
  .the-form form .top-part div label {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .top-part div label {
    display: none;
  }
}
.the-form form .top-part div input {
  display: block;
  margin: 0 0 0 8%;
  padding: 2.7%;
  width: 86%;
  border-radius: 6px;
  border-color: #1C75BB;
  border-style: solid;
  font-size: 18px;
}
@media screen and (max-width: 1400px) {
  .the-form form .top-part div input {
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .top-part div input {
    padding: 3.3%;
    border-radius: 4px;
    margin: 0;
    font-size: 14px;
    width: 100%;
  }
}
.the-form form .top-part div input:focus {
  outline: 0;
}
.the-form form .legal {
  overflow: auto;
  margin: 4.5% auto 3%;
  height: 432px;
  padding: 5%;
  border: 1px solid black;
}
.the-form form .legal img {
  max-width: 100%;
  width: 100%;
}
.the-form form .print-text {
  text-align: left;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #1C75BB;
}
@media screen and (max-width: 1400px) {
  .the-form form .print-text {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .print-text {
    font-size: 18px;
    line-height: 25px;
    margin: 10% 0;
  }
}
.the-form form .terms {
  margin: 3.3% 0 0;
  text-align: left;
}
.the-form form .terms input[type="checkbox"] {
  display: inline-block;
  margin: 0 1% 0 0;
  height: 20px;
  width: 20px;
}
.the-form form .terms input[type="submit"] {
  border: none;
}
@media screen and (max-width: 414px) {
  .the-form form .terms input[type="submit"] {
    margin: 9% auto;
    display: block;
  }
}
.the-form form .terms span {
  font-weight: bold;
  font-size: 22px;
}
@media screen and (max-width: 1400px) {
  .the-form form .terms span {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .terms span {
    font-size: 19px;
    line-height: 28px;
  }
}
.the-form form .terms p {
  padding: 0 0 0 3.5%;
  font-size: 19px;
}
@media screen and (max-width: 1400px) {
  .the-form form .terms p {
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 414px) {
  .the-form form .terms p {
    font-size: 18px;
    line-height: 23px;
    margin: 7% 0 0;
  }
}
.the-form form .terms p a {
  font-weight: bold;
  color: #1C75BB;
}
.error-input {
  border-color: #DF2A4A !important;
  background: url("../img/error-mark.svg") no-repeat 95% 50%;
}
.error-msg {
  color: #DF2A4A;
  font-size: 12px !important;
  line-height: 15.36px;
  text-align: left;
  padding: 0 0 0 8%;
}
@media screen and (max-width: 1400px) {
  .error-msg {
    font-size: 0.9vw !important;
    line-height: 1.1vw;
  }
}
@media screen and (max-width: 414px) {
  .error-msg {
    font-size: 10px !important;
    line-height: 12.8px !important;
    padding: 0;
    margin: 2% 0 0 !important;
  }
}
