* {
  font-family: Source Sans Pro, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

.desktop {
  visibility: visbile;
}

@media screen and (max-width: 414px) {
  .desktop {
    visibility: collapse;
    display: none;
  }
}

.mobile {
  visibility: collapse;
  display: none;
}

@media screen and (max-width: 414px) {
  .mobile {
    visibility: visible;
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    width: 100% !important;
  }

  .h1 {
    font-size: 18px !important;
    line-height: 21.6px !important;
    margin: 0 0 20px;
  }

  .footer {
    padding: 5% !important;
  }
}