img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper * {
  font-family: Source Sans Pro;
  color: #333333;
}

.wrapper header {
  padding: 2% 10.5%;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .wrapper header {
    padding: 2.7% 0;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .wrapper header img {
    margin: 4% 0 0;
  }
}

.wrapper header a {
  float: right;
}

@media screen and (max-width: 414px) {
  .wrapper header a {
    width: 23.6%;
    padding: 1.8% 0;
    font-size: 18px;
    text-align: center;
    margin: 0 5% 0 0;
  }
}

.wrapper footer {
  background: #0E395D;
  color: #fff;
  text-align: center;
  padding: 5% 0;
  font-size: 20px;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 1400px) {
  .wrapper footer {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 414px) {
  .wrapper footer {
    font-size: 16px;
    line-height: 22px;
    padding: 16% 0;
  }
}

.wrapper div.top {
  position: relative;
}

@media screen and (max-width: 414px) {
  .wrapper div.top img[src="img/thank-you-m.png"] {
    width: 100%;
  }
}

.wrapper div.top .content {
  position: absolute;
  left: 10.5%;
  top: 10%;
}

@media screen and (max-width: 414px) {
  .wrapper div.top .content {
    left: 6%;
    top: 5%;
  }
}

.wrapper div.top .content h2 {
  color: #fff;
  font-size: 72px;
  margin: 0;
  line-height: 84px;
}

@media screen and (max-width: 1400px) {
  .wrapper div.top .content h2 {
    font-size: 5.1vw;
    line-height: 6vw;
  }
}

@media screen and (max-width: 414px) {
  .wrapper div.top .content h2 {
    font-size: 36px;
    line-height: 41px;
  }
}

.wrapper div.top .content p {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  margin: 2.5% 0 0;
}

@media screen and (max-width: 1400px) {
  .wrapper div.top .content p {
    font-size: 2.2vw;
    line-height: 3vw;
  }
}

@media screen and (max-width: 414px) {
  .wrapper div.top .content p {
    font-size: 24px;
    line-height: 33px;
    margin: 5% 0 0;
  }
}

.wrapper div.top .content img {
  margin: 3.8% 0 0;
}

.wrapper div.top .content a {
  display: inline-block;
  margin: 7% 0 0;
  padding: 1.3% 2.8%;
}

@media screen and (max-width: 414px) {
  .wrapper div.top .content a {
    margin: 59% 0 0;
  }
}

@media screen and (max-width: 414px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 414px) {
  .mobile {
    display: inline-block;
  }
}